<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Regression Suite">
    
    <test thread-count="5" name="EndToEndTests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.PurchaseFlowTest"/>
        </classes>
    </test>
</suite>
